.skip-to-content {
    background: #03cffc;
    color: black;
    left: 50%;
    padding: 1rem;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.2s;
}

.skip-to-content:focus {
    transform: translateY(100%);
}